nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='/')
      i.bi.bi-film 
      | Movie & TV Show Tracker

    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon

    .collapse.navbar-collapse#navbarNav
      form.d-flex.ms-auto(action='/search', method='get', role='search')
        input.form-control.me-2(type='text', name='q', placeholder='Search for a movie or show...', required)
        button.btn.btn-outline-light(type='submit') 
          i.bi.bi-search
