extends ../layout  
block content  

    // Page heading
    h1 Add a New Skill  

    // Form to add a new skill, posts data to /admin/skills/add
    form(action="/admin/skills/add" method="POST")  

        // Input field for skill name
        .form-group  
            label(for="name") Skill Name:  
                sup *
            input(type="text" name="name" class="form-control" required)  

        // Input field for category
        .form-group  
            label(for="category") Category:  
                sup *  
            input(type="text" name="category" class="form-control" required)  

        // Buttons for form actions (Submit and Cancel)
        .form-group.text-center  
            a(href="/admin")  
                button(type="button").btn.btn-danger.mr-10 Cancel  
            button(type="submit").btn.btn-primary Submit 
