body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #f9f9f9;
}

#root {
  margin: 0 auto;
}

main{
  padding: 40px;
}

a {
  color: white;
  text-decoration: none;
}

h1, h2{
  margin: 0;
  padding: 0;
}