extends layout

block layout-content
  h1 Edit menu link
  form(method="post", action="/admin/menu/edit/submit").menu-form
    input(type="hidden", name="linkId", value=editLink._id)
    div
      label(for="weight") Weight: 
      input(type="number", id="weight", name="weight", value=editLink.weight)
    div
      label(for="path") URI: 
      input(type="text", id="path", name="path", value=editLink.path)
    div
      label(for="name") Link text: 
      input(type="text", id="name", name="name", value=editLink.name)
    button(type="submit").btn-submit Edit
